// Layout component ----------------------------------------
// ---------------------------------------------------------
$base-margin: 20;

html,
body {
    height: 100%;
    background: rgba(94, 167, 235, 1);
    background: -moz-linear-gradient(left, rgba(94, 167, 235, 1) 0%, rgba(63, 84, 161, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(94, 167, 235, 1)), color-stop(100%, rgba(63, 84, 161, 1)));
    background: -webkit-linear-gradient(left, rgba(94, 167, 235, 1) 0%, rgba(63, 84, 161, 1) 100%);
    background: -o-linear-gradient(left, rgba(94, 167, 235, 1) 0%, rgba(63, 84, 161, 1) 100%);
    background: -ms-linear-gradient(left, rgba(94, 167, 235, 1) 0%, rgba(63, 84, 161, 1) 100%);
    background: linear-gradient(to right, rgba(94, 167, 235, 1) 0%, rgba(63, 84, 161, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ea7eb', endColorstr='#3f54a1', GradientType=1);
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


// icone di base (profile e search)
.base-nav-icons {
  margin: $base-margin * 2px;
}


.hideWithOpacity {
  opacity: 0.1;
}
