// main.scss
@import '../../../node_modules/flexboxgrid/dist/flexboxgrid';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

// font-awesome
$fa-font-path: "/static/vendor-fonts/font-awesome/fonts/";
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';

// animation
@import "animate.min";

body {
  //background-color: #CDDC39;
  background-color: #009688;
  font-family: 'Roboto', sans-serif;
}

.component-icon {
  margin: 15px;
  color: white;
}

.transition-width-out {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}